<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.saintgobain.mapper.LeaveMapper">
	
	<!-- 查询司机是否已经离场 -->
	<select id="selectleave"
		parameterType="com.example.saintgobain.entity.DB_task_Leave"
		resultType="java.util.Map">
		select * from task_leave where driverid = #{driverid} and taskid = #{taskid}
	</select>
	
	<!-- 保存离场任务信息 -->
	<insert id="insertleave"
		parameterType="com.example.saintgobain.entity.DB_task_Leave" useGeneratedKeys="true" keyProperty="id" >
		insert into task_leave (
		taskid,
		driverid,
		leave_time
		)
		values(
		#{taskid},
		#{driverid},
		#{leave_time}
		)
	</insert>
	
</mapper>