<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.saintgobain.mapper.LoadMapper">
	
	<!-- 查询司机是否已经装载 -->
	<select id="selectstartload"
		parameterType="com.example.saintgobain.entity.DB_task_Load"
		resultType="java.util.Map">
		select * from task_load where driverid = #{driverid} and taskid = #{taskid}
	</select>
	
	<!-- 保存装载开始任务信息 -->
	<insert id="insertstartload"
		parameterType="com.example.saintgobain.entity.DB_task_Signin" useGeneratedKeys="true" keyProperty="id" >
		insert into task_load (
		taskid,
		driverid,
		strat_time
		)
		values(
		#{taskid},
		#{driverid},
		#{strat_time}
		)
	</insert>
	<!-- 修改装载结束信息 -->
	<update id="updateendload"
		parameterType="com.example.saintgobain.entity.DB_task_Signin">
		update task_load set end_time = #{end_time} 
		where taskid = #{taskid} and driverid = #{driverid}
	</update>
	
</mapper>